
body {
	padding-top: 50px;
}

h1, h2, h3, h4 {
	font-family: 'Abel', sans-serif; 
}

b, strong {
	font-weight: 400;
}

hr {
	border-top: 1px solid #c9c9c9
}

.container .navbar-brand {
	float: left;
    font-size: 14px;
    height: 50px;
    line-height: 18px;
    padding-bottom: 18px;
    padding-top: 18px; 	
}

.navbar .navbar-brand img {
	float: left;
    margin-top: -10px;
    margin-right: 6px;
}

.navbar-nav > li > a {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 18px;
    padding-top: 18px;
}

.container .navbar-toggle {
    margin-bottom: 18px;
    margin-top: 18px;
}

.carousel-caption {
	z-index: 10px;
}

.carousel-inner > .item > img {
	position: absolute;
	left: 0;
	min-width: 100%;
	height: 500px;
}

.carousel-inner > .item {
	height: 500px;
}

.caption-txt {
	color: #000;
}


#myCarousel .carousel-indicators > li {
	background-color: #999;
}

#myCarousel .carousel-indicators > li.active {
	background-color: #000;
}

.padded {
	padding: 50px 15px;
}

.bmargin {
	margin-bottom: 16px;
}

.blog h1 a {
	color: #4b8575;
}

.blog p a {
	color: #ed7337;
}

.post-list-item,
.topic-list-item {
	border-bottom: 1px dashed #ccc;
	margin-bottom: 10px;
}

.topic-header {
	padding-top: 10px;
}

.topic-vote {
	padding-top: 20px;
}
.ftr {
	background: url(../images/shattered.png) repeat;
	padding: 80px 0 60px 0;
}

.ftr address, .ftr a, .ftr p {
	color: #fff;
}

.ft_space {
	padding: 0 10px;
}

.event-attend {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 10px 0;
}

.event-attend a {
	width: 100%
}

.event-attendees {
	border-bottom: 1px dashed #ccc;
	margin-bottom: 10px;
}

.event-attendee-image {
	padding-bottom: 10px;
}

.event-attendee-name {
	padding-top: 20px;
}

.events-description {
	padding: 0 10px;
	margin: 30px 0;
}

.events {
	margin-bottom: 30px;
}

.panel-body {
	padding: 0 0;
}

@media(min-width: 768px) {
	.carousel-caption > .item {
		height: 600px;
	}
}